<section class="partners">
  <div class="container partners__container flex">
    <h2 class="partners__title">Partners</h2>
    <ul class="list-reset partners__list flex">
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="../img/reform.jpg" loading="lazy" width="160" height="67" alt="Reform logo" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="../img/schmidt.jpg" loading="lazy" width="160" height="67" alt="Schmidt logo"
               class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="../img/crime.jpg" loading="lazy" width="160" height="67" alt="Crime logo" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="../img/mozilla.jpg" loading="lazy" width="160" height="67" alt="Mozilla logo"
               class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="../img/aclu.jpg" loading="lazy" width="160" height="67" alt="Aclu logo" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="../img/Y.jpg" loading="lazy" width="160" height="67" alt="Y logo" class="partners__logo">
        </a>
      </li>
    </ul>
    <a href="#" class="partners__more">See ALl</a>
  </div>
</section>
